@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-out both;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* For 3D flip card effect */
.perspective {
  perspective: 100px;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
/* globals.css */
.mask-fade {
  mask-image: radial-gradient(ellipse 80% 80% at center, black 90%, transparent 100%);
  -webkit-mask-image: radial-gradient(ellipse 80% 80% at center, black 60%, transparent 100%);
}
